extends template

block content
	// Begin Page Content
	.container-fluid
		// Page Heading
		.card.shadow.mb-4
			img(src='../assets/img/logo-1400.jpg' style='width: 100%')
		// Content Row
		.row
			// Content Column
			.col-lg-3.mb-4
				// Visualization
				.card.shadow.mb-4.h-100
					.card-header.py-3
						h6.m-0.font-weight-bold.text-primary Maintenance
					.card-body
						.text-center
							img.img-fluid.px-3.px-sm-4.mt-3.mb-4(style='width: 25rem;' src='../assets/img/illustrations/svg/undraw_dashboard_nklg.svg' alt='')
						p Visualization Dashboard
						a(target='_blank' rel='nofollow' href='#') Maintenance dashboard &rarr;
			// Content Column
			.col-lg-3.mb-4
				// Visualization
				.card.shadow.mb-4.h-100
					.card-header.py-3
						h6.m-0.font-weight-bold.text-primary Scheduler
					.card-body
						.text-center
							img.img-fluid.px-3.px-sm-4.mt-3.mb-4(style='width: 25rem;' src='../assets/img/illustrations/svg/undraw_timeline_9u4u.svg' alt='')
						p Scheduler service provided by LMS
						a(target='_blank' rel='nofollow' href='#') Scheduler &rarr;
			// Content Column
			.col-lg-3.mb-4
				// Visualization
				.card.shadow.mb-4.h-100
					.card-header.py-3
						h6.m-0.font-weight-bold.text-primary RPCA
					.card-body
						.text-center
							img.img-fluid.px-3.px-sm-4.mt-3.mb-4(style='width: 25rem;' src='../assets/img/illustrations/svg/undraw_security_o890.svg' alt='')
						p RPCA manager for Gateway installation
						a(target='_blank' rel='nofollow' href='#') RPCA manager &rarr;
			// Content Column
			.col-lg-3.mb-4
				// Visualization
				.card.shadow.mb-4.h-100
					.card-header.py-3
						h6.m-0.font-weight-bold.text-primary Metadata
					.card-body
						.text-center
							img.img-fluid.px-3.px-sm-4.mt-3.mb-4(style='width: 25rem;' src='../assets/img/illustrations/svg/undraw_server_status_5pbv.svg' alt='')
						p MIMOSA Metadata service.
						a(target='_blank' rel='nofollow' href='#') Metadata service &rarr;