doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='description' content='')
	meta(name='author' content='')
	link(href='../assets/img/head-logo-2.png' rel='icon' type='image/gif')
	title SerenaDashboard
	//
	// Custom fonts for this template
	link(href='../assets/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
	// Custom styles for this template
	link(href='../assets/css/sb-admin-2.min.css' rel='stylesheet')
	link(href='../assets/css/style.css' rel='stylesheet')
body#page-top
	// Page Wrapper
	#wrapper
		// Sidebar
		ul#accordionSidebar.navbar-nav.bg-gray-900.sidebar.sidebar-dark.accordion
			// Sidebar - Brand
			a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
				.sidebar-brand-icon.rotate-n-15
					i
						img(src='../assets/img/head-logo-2.png' style='width: 50px')
				.sidebar-brand-text.mx-3 SERENA PROJECT
			// Divider
			hr.sidebar-divider.my-0
			// Nav Item - Dashboard
			li.nav-item.active
				a.nav-link(href='/')
					i.fas.fa-fw.fa-home
					span Home
			// Divider
			hr.sidebar-divider
			// Heading
			.sidebar-heading
				| Services
			// Nav Item - Maintenance Collapse Menu
			li.nav-item
				a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseMaintenance' aria-expanded='true' aria-controls='collapseMaintenance')
					i.fas.fa-fw.fa-wrench
					span Maintenance
				#collapseMaintenance.collapse(aria-labelledby='headingMaintenance' data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded(style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ')
						h8.collapse-header header
						ul#maintenance-treeview.treeview
							li
								i.caret.fa.fa-caret-right
								a(href='#') Beverages
								ul.nested
									li Water
									li Coffee
									li
										i.caret.fa.fa-caret-right Tea
										ul.nested
											li Black Tea
											li White Tea
											li
												i.caret.fa.fa-caret-right Green Tea
												ul.nested
													li Sencha
													li Gyokuro
													li Matcha
													li Pi Lo Chun
			// Nav Item - Scheduler Collapse Menu
			li.nav-item
				a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseVisualization' aria-expanded='true' aria-controls='collapseVisualization')
					i.fas.fa-fw.fa-calendar-times
					span Scheduler
				#collapseVisualization.collapse(aria-labelledby='headingVisualization' data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded(style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ')
						h8.collapse-header Header
						ul(style='list-style-type: none; padding-left: 10px;')
							li
								a.collapse-item(href='#' target='_blank') Link
			// Nav Item - Charts Collapse Menu
			li.nav-item
				a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseCharts' aria-expanded='true' aria-controls='collapseCharts')
					i.fas.fa-fw.fa-certificate
					span RPCA Manager
				#collapseCharts.collapse(aria-labelledby='headingCharts' data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded(style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ')
						h8.collapse-header Header
						ul(style='list-style-type: none; padding-left: 10px;')
							li
								a.collapse-item(href='#') Link
			// Nav Item - Metadata Collapse Menu
			li.nav-item
				a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseMetadata' aria-expanded='true' aria-controls='collapseMetadata')
					i.fas.fa-fw.fa-database
					span Metadata
				#collapseMetadata.collapse(aria-labelledby='headingMetadata' data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded(style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ')
						a.collapse-item(href='#')
							| Metadata
							| manager
			// Divider
			hr.sidebar-divider
			// Sidebar Toggler (Sidebar)
			.text-center.d-none.d-md-inline
				button#sidebarToggle.rounded-circle.border-0
		// End of Sidebar
		// Content Wrapper
		#content-wrapper.d-flex.flex-column
			// Main Content
			#content
				// Topbar
				nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
					// Sidebar Toggle (Topbar)
					button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
						i.fa.fa-bars
					h4.m-0.font-weight-bold.text-primary SERENA Dashboard
				// End of Topbar
				block content
			// End of Main Content
			// Footer
			footer.sticky-footer.bg-white
				.container.my-auto
					.copyright.text-center.my-auto
						// <span>Copyright &copy; SERENA Project</span>
						span
							| Provided by
							img(src='../assets/img/progressLogo.Light.png' style='height: 30px')
			// End of Footer
		// End of Content Wrapper
	// End of Page Wrapper
	// Scroll to Top Button
	a.scroll-to-top.rounded(href='#page-top')
		i.fas.fa-angle-up
	// Bootstrap core JavaScript
	script(src='../assets/vendor/jquery/jquery.min.js')
	script(src='../assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
	// Core plugin JavaScript
	script(src='../assets/vendor/jquery-easing/jquery.easing.min.js')
	// Custom scripts for all pages
	script(src='../assets/js/sb-admin-2.min.js')
	script(src='../assets/js/controller.js')
	// Page level plugins
	script(src='../assets/vendor/chart.js/Chart.min.js')
